
/***************MOBILE FIRST********************/

/*********** NAVIGATION ************/

	img{
    	width: 450px;
    	height: 300px;
	}

	nav{
		background-color: #ebe0eb;
		justify-content:center;
	}

	.logo{
		display:flex;
	}

	.title{
	   	background: linear-gradient(90deg,#ffcc00,#e66465, #5c00e6);
		-webkit-background-clip:text;
		-webkit-text-fill-color:transparent;
		font-size: 40px;
		padding-left:20px;
	}

	h1{
		color:#404040;
		font-style: italic;
		font-family: 'Lobster', cursive;
		font-size:10px;	
		padding-top:10px;
		letter-spacing: 2px;	
	}

	a>h1{
		text-decoration:underline #ebe0eb;
	}
/***************End navigation ********/

/******* body ********/
	body{
		margin:0;
		padding:0;
		box-sizing:border-box;
		min-height: 100%;
		position: relative;
	}

	#cadre{
		background-color: #f2f2f2;
		padding:20px;
		border-radius: 5px;
		text-align: center;
		font-family: 'Montserrat', sans-serif;
		box-shadow:  -5px 5px 5px #d9d9d9;
		justify-content: center;	 
	}

	p{
		font-family: 'Montserrat', sans-serif;
		font-size: 18px;
		padding:10px;
		text-align: center;
    }

/******footer***/

    footer{
		background-color: #ebe0eb;
		position:fixed;
		bottom:0;
		height: 30px;
		width: 100%;
     }

/*****PRODUCT PAGE****/

	select{
		border-color:#ff6600;
		border-style: dashed;
	}



	h2{
		text-align: center;
		font-family: 'Montserrat', sans-serif;
		color:#404040;
		font-size: 25px;
		letter-spacing: 3px;
	}

	a {
		text-decoration:none;
		color:#99ff99;
	}
    
	.btn-success{

		margin-top: 30px;
		width: 200px;
		margin-bottom: 30px;
		margin-left : 100px;
		margin-right : 100px;
		
	}

	#option_lenses{
		margin: 0px;
		margin-left:100px;
		margin-right:100px;
	}

/******PRIX*****/

	#prix{
		display: flex;
		justify-content: left;
		font-weight: bold;
		letter-spacing: 2px;
	}

	ul{
		list-style: none;
	}

	.description{
		font-family: 'Montserrat', sans-serif;
		text-align:justify;
	}

/*****titre sur page produit***/

	.titre{
		color:#7B1FA2;
	}

	.dropdown{
    	display: flex;
    	justify-content: center;
    	padding: 20px
	}

/*******PAGE PANIER*********/ 

	#quantite{
		width: 30px;
		margin-left: 150px;
    	margin-bottom: 20px;
		border-radius: 20%
	}

	.remove{
		display:inline-block;
	}

	.box{
		width: 600px;
		width:100%;
		height:auto;
	}

	.cartpict{
		width: 100%;
		height: auto;
	}

	#supprimer{
		margin-left: 160px;
	}

	a{
		text-decoration: none;
	}

	#card{
		display:block;
		width: 100%;
	}

	#cadre{
		background-color: #f2f2f2;
		margin: 20px;
		margin-bottom: 40px;
		padding:20px;
		border-radius: 5px;
		text-align: center;
		font-family: 'Montserrat', sans-serif;
	}

	img{
		width: 100%;
		height: auto;
		border-radius: 5%;
	}

	.prod{
		display: block;
	    padding: 20px; 
		margin-bottom: 15px;
		border: 2px solid  #e6e6e6;
		border-radius: 10px;
	}

	.pict .infoPict{
		padding: 30px;
		margin:20px;
		display: block;
		align-items: center;
		width: 100%;		
	}

	p{
		margin: 0px;
		padding: 0px;
		color:#404040;
	}

	h4, h3, #total{
		text-align: center;
		font-family: 'Montserrat', sans-serif;
		padding:20px;
		color:#404040;
		font-size:20px;
	}

	.btn-warning{
		width:100%;
		height:auto;
	}

/*******FORM PAGE**********/ 



    .btn-primary{
      width: 100%;
	  margin-bottom: 60px;

	}


	#msg{
		font-family: 'Montserrat', sans-serif;
	}

	a{
		text-decoration: none;
	}


/********PAGE CONFIRMATION******/

	#resume>p{
		padding: 30px;
		font-family: 'Playfair Display', serif;
		font-weight: bold;
		font-size: 30px;
	}

		#finalMsg{
		display: block;
		justify-content:center;
		align-content: center;
		margin: 15px;
		margin-top: 50px;		
		letter-spacing: 3px;
	}

	#result{
    	display: flex;
    	justify-content: center;
		margin: 20px;
		margin-bottom: 0px;
		padding: 30px;
		font-size : 40px;
		font-family: 'Montserrat', sans-serif;
	}



/*******************************TABLETS*****************************************************************/

@media only screen and (min-width: 600px){
	
	#card{

		display:block;
		width: 550px;
		height: auto;
        justify-content : center;

  	}

  	#cadre{

		background-color: #f2f2f2;
		margin: 20px;
		margin-bottom: 40px;
		padding:20px;
		border-radius: 5px;
		text-align: center;
		font-family: 'Montserrat', sans-serif;
 
	}

/*******product page *******/


	#option_lenses{

  		margin-left: 100px;
  		margin-right: 100px;
  	}


  	.prod{

		display: flex;
		justify-content:space-around;
		align-items: center;
		margin: 20px;
		padding: 10px;
		border: 2px solid  #e6e6e6;
		border-radius: 5px;	

	}

	.pict{

		width: 250px;
		padding: 10px;
		margin:20px;
		

	}

	.infoPict {

		width: 150px;
		display:block;
		justify-content : space-around;
		align-items: stretch;

	}

	#supprimer{
        width: 17px;
		height: auto;

	}

	.infoPict >p{
		
		margin-right: 250px;
		padding-top: 10px;
	}

	#total{
		text-align:right;
		font-family: 'Montserrat', sans-serif;
		font-size: 20px;
	}


	h3{
		font-family: 'Montserrat', sans-serif;
		margin-left: 150px;
		margin-right: 150px;
	}

	h4{
		font-family: 'Montserrat', sans-serif;
		margin: 20px;
	}

/********page confirmation*******/

	.MerciMsg{

		margin-top: 100px;
	}


	#finalMsg{

		display: block;
		justify-content:center;
		align-content: center;
		margin: 50px;
		margin-top: 50px;
		box-shadow: 3px 3px 3px grey;
		letter-spacing: 3px;
  
   }

}

/*************************************************DESKTOP******************************************/

@media only screen and (min-width: 1200px){

/* index layout*/
	#card{
		display:flex;
		
	}

	img{

    	width: 450px;
    	height: 300px;
	}


    #liste{

		display:flex;
		justify-content: center;
		flex-wrap: wrap;
		margin-top: 70px;
	}

	#cadre{

		background-color: #f2f2f2;
		margin: 20px;
		margin-bottom: 40px;
		padding:20px;
		border-radius: 5px;
		text-align: center;
		font-family: 'Montserrat', sans-serif;
 
	}

/*** page PRODUCT*******/

	#option_lenses{    
	margin-left: 100px;	
	}

/***page BASKET *****/ 

/*input prix-panier*/

	#quantite{
		width: 30px;
		margin-left: 0px;
		margin-bottom:0px;
	}
    
	#supprimer{
		margin:0px;
	}
	

	.btn-warning{
		width:100%;
		height:auto;
	}
	
	.btn-success{
		width:50%;
		height:auto;
		margin-bottom:60px;
	
	}

    .btn-primary{
      width: 100%;
	  margin-bottom: 60px;

	}

	#pictInfo{
		margin:20px;
	}

	#pictInfo>p{
		margin-top: 70px;
	}

	.prod{

		display: flex;
		justify-content:space-between;
		align-items: center;
		margin: 20px;
		padding :20px;
		border: 2px solid  #e6e6e6;
		border-radius: 10px;
	}

	.pict .infoPict{

		padding: 30px;
		margin:20px;
		display: flex;
		align-items: center;
		width: 300px;	
	}

	h4{
		font-family: 'Montserrat', sans-serif;
	}



/***** PAGE CONFIRMATION*****/
	.thankMsg{
		margin-top: 100px;
	}

	#finalMsg{
		display: block;
		justify-content:center;
		align-content: center;
		margin: 50px;
		margin-top: 50px;
		box-shadow: 3px 3px 3px grey;
		letter-spacing: 3px;
	}

}

